<!doctype html>
<html lang='en'>

<head>
    <title> Logistic Regression </title>
</head>

<body>
    <h1>Predicting the emmissions</h1>
    <h3>Enter the values</h3>
    <form action="/predict" method="post">
        <input type="text" name="engine_size" placeholder="engine_size" />
        <input type="text" name="cyinder" placeholder="cylinder" />
        <input type="text" name="fuel" placeholder="fuel" />

        <button type="submit" class="btn">Submit</button>
    </form>
    <br>
    <br> {{prediction_text}}
</body>